/*/css-A/*/
.side-menu {
  position: fixed;

  top: 0;

  left: -300px;

  width: 187px;

  height: 100%;

  background-color: #000000;

  padding: 20px;

  transition: left 0.3s ease;

  border: 1px solid white;

  border-style: none none none none;

  opacity: 0.8;

  overflow-y: scroll;

  overflow-x: hidden;

  z-index: 3;
}

html, body {
  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

  height: 100vh;

  display: flex;

  background-color: black;
}

#fullscreenBtn {
  position: fixed;
  top: 50%;
  right: 20px;
  animation: agrandir 5s linear;
  background-color: #000000;
  color: yellow !important;
  width: 40px;
  height: 40px;
  border: 3px dashed yellow;
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

@keyframes agrandir {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.side-menu.open {
  left: 0;

  padding: 0px;

  cursor: default;
}
/* Style pour le lecteur vidéo */
#my-video {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 0;
}
.vjs-big-play-button {
  background-color: transparent !important;
  color: yellow !important;
  border: none !important;
}
.vjs-control-bar {
  background-color: #000000 !important;
  color: yellow !important;
}
.btn.btn-primary {
  color: white;

  text-decoration: none;

  background-color: #000;

  border: 0px;

  white-space: nowrap;

  text-align: left;
}
.btn.btn-primary:hover {
  width: 90%;

  padding: 10px 10px;

  margin: 10px;

  color: yellow;
}
.btn.btn-dark.btn-sm {
  color: white;

  margin: 0px;

  border: 1px solid white;

  padding: 5px 5px;
}
.side-menu::-webkit-scrollbar {
  width: 5px;
}
.side-menu::-webkit-scrollbar-track {
  background: tranparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
input,
button {
  width: 80%;

  color: white;

  background-color: #000000;

  border: 1px solid white;

  border-radius: 3px;
}


.side-menu::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 25px;
}
.search {
  padding-left: 5px;

  width: 100%;

  border: 0px;
}
.message-box {
  
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #000;

  color: #fff;

  border: 2px solid yellow;

  padding: 6px 0px 6px 0px;

  width: 40%;

  text-align: center;

  border-radius: 5px;

  border-style: none none dashed dashed;

  
  font-size: 11px;

  z-index: 2;

  box-shadow: 0px 0px 10px 0px yellow;

  white-space: nowrap;

  display: none;
}
.toutsat:hover {
  color: white;

  text-decoration: none;
}
.journal:hover {
  color: white;

  text-decoration: none;
}
.iframe:hover {
  color: white;

  text-decoration: none;
}

b {
  color: yellow;
}
#iframe-container {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
p {
  background-color: #000000;
  color: yellow;
  height: 50px;
  width: 100%;
  text-align: center;
}

.highlight {
border: 2px dashed yellow !important;
}

