/*/css-A/*/
html,
body {
  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

  height: 100vh;

  display: flex;

  overflow: hidden;

  background: transparent;
}
.side-menu {
  position: fixed;

  top: 0px;

  left: -900px;

  width: 187px;

  height: 100%;

  background-color: #000000;

  padding: 20px;

  transition: left 0.3s ease;

  border: 1px solid white;

  border-style: none none none none;

  opacity: 0.8;

  overflow-y: scroll;

  overflow-x: hidden;

  z-index: 3;
}
#castBtn {
  position: fixed;
  top: 50%;
  right: 0px;
  margin: 50px 20px;
  padding: 3px 5px 25px 5px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 1000;
  height: 30px;
  width: 40px;
}
#fullscreenBtn {
  position: fixed;
  top: 50%;
  right: 0px;
  animation: agrandir 5s linear;
  background-color: #000000;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 30px 0px;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
}
@keyframes agrandir {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.side-menu.open {
  left: 0;

  padding: 0px;

  cursor: default;
}
/* Style pour le lecteur vidéo */
#my-video {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 0;

  display: block;
}
.vjs-big-play-button {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
}
.vjs-control-bar {
  background-color: #000000 !important;
  color: white !important;
}
.btn.btn-primary {
  color: white;

  text-decoration: none;

  background-color: #000;

  border: 0px;

  white-space: nowrap;

  text-align: left;
}
.btn.btn-primary:hover {
  width: 90%;

  padding: 10px 10px;

  margin: 10px;

  color: yellow;
}
.btn.btn-dark.btn-sm {
  color: white;

  margin: 0px;

  border: 1px solid white;

  padding: 5px 5px;
}
.side-menu::-webkit-scrollbar {
  width: 5px;
}
.side-menu::-webkit-scrollbar-track {
  background: tranparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
input,
#mp3Btn {
  width: 80%;

  color: white;

  background-color: #000000;

  border: 1px solid white;

  border-radius: 3px;
}


.side-menu::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}
.search {
  padding-left: 5px;

  width: 100%;

  border: 0px;

  margin: 0px 0px 20px 0px;
}
.message-box {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #000;

  color: #fff;

  border: 1px solid white;

  padding: 6px 0px 6px 0px;

  width: 20%;

  text-align: center;

  border-radius: 5px;

  font-size: 11px;

  z-index: 2;

  white-space: nowrap;

  display: none;
}
.toutsat:hover {
  color: white;

  text-decoration: none;
}
.journal:hover {
  color: white;

  text-decoration: none;
}
.iframe:hover {
  color: white;

  text-decoration: none;
}
b {
  color: yellow;
}
#iframe-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  border: none;
  z-index: 1;
}
#searchInput {
  width: 99%;
  height: 20px;
  font-size: 10px;
  padding: 3px;
  margin: 5px 0px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center;
  color: white !important;
}
.highlight {
  border: 1px solid white !important;
  width: 90% !important;
}
